@model AddressFormsModel
@{
    ViewData["Title"] = "Updateaddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2 class="centered-xs mt-4">Update Address</h2><br />
    <partial name="~/Views/Partials/Forms/_updateAddressForm.cshtml" />

</div>